Pillow==8.2.0
fastapi==0.63.0
python-multipart
uvicorn==0.13.4
crypto~=1.4.1
scikit-image~=0.18.1
jinja2
aiofiles

pandas
pycryptodome
sqlalchemy

opencv-python
imagehash
fastapi-login
cryptography
pymysql