<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">

      <div class="container">
        <div class="navbar-header">
          <a href="http://127.0.0.1:8000/Home/" class='navbar-brand'>Home</a>
          <a href="http://127.0.0.1:8000/login/" class='navbar-brand'>Login</a>
          <a href="http://127.0.0.1:8000/register/" class='navbar-brand'>Register</a>
        </div>

      </div>
    </nav>
      <div class="container">
        <style media="screen">
          Body {
              font-family: Calibri, Helvetica, sans-serif;
              background-color: coral;
            }


        </style>

              <h1>Secured Image Storage Using Data Integrity Convergent Encryption Protocol</h1>

        <h2>Abstract:</h2>

        <p>    With the advent of cloud computing, secured data deduplication has
          gained a lot of popularity. Many techniques have been proposed in the
          literature of this ongoing research area. Among these techniques, the
          Message Locked Encryption (MLE) scheme is often mentioned. Researchers
          have introduced MLE based protocols which provide secured deduplication
          of data, where the data is generally in text form. As a result, multimedia
          data such as images and video, which are larger in size compared to text
          files, have not been given much attention. Applying secured data deduplication
          to such data files could significantly reduce the cost and space required
          for their storage. In this paper we present a secure deduplication scheme
          for near identical (NI) images using the Data Integrity Convergent Encryption
          (DICE) protocol, which is a variant of the MLE based scheme. In the
          proposed scheme, an image is decomposed into blocks and the DICE
          protocol is applied on each block separately rather than on the entire
          image. As a result, the blocks that are common between two or more NI
          images are stored only once at the cloud. We provide detailed analyses
          on the theoretical, experimental and security aspects of the proposed scheme.</p>
      </div>

    </nav>

  </body>
</html>
